# Clojure
.cpcache/
.calva/
.nrepl-port
target/

# Certificates (DO NOT COMMIT)
*.p12
*.pfx
*.jks

# Environment variables (DO NOT COMMIT)
.env
.env.local
.env.*.local

# Test files
*.pdf
*.sh

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
