{:paths ["src" "src/main/clojure"]

 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        http-kit/http-kit   {:mvn/version "2.8.0"}
        metosin/reitit-ring {:mvn/version "0.7.2"}

        ;; EU DSS Framework dependencies
        eu.europa.ec.joinup.sd-dss/dss-pades {:mvn/version "6.3"}
        eu.europa.ec.joinup.sd-dss/dss-service {:mvn/version "6.3"}
        eu.europa.ec.joinup.sd-dss/dss-pades-pdfbox {:mvn/version "6.3"}
        eu.europa.ec.joinup.sd-dss/dss-token {:mvn/version "6.3"}
        eu.europa.ec.joinup.sd-dss/dss-validation {:mvn/version "6.3"}
        eu.europa.ec.joinup.sd-dss/dss-utils-apache-commons {:mvn/version "6.3"}
        eu.europa.ec.joinup.sd-dss/dss-cms-object {:mvn/version "6.3"}


        ;; Apache PDFBox
        org.apache.pdfbox/pdfbox {:mvn/version "3.0.2"}

        ;; Logging
        org.slf4j/slf4j-simple {:mvn/version "1.7.36"}}



 :aliases {:run {:main-opts ["-m" "com.audidat.dss-service.core"]}
           :sign {:main-opts ["-m" "com.audidat.dss-service.core"]}
           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true
                                 :jar "target/app.jar"
                                 :main-class com.audidat.dss-service.core}}
           :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                               cider/cider-nrepl {:mvn/version "0.30.0"}}}}}